<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Demo App - Mobile Test Suite" verbose="1">
    <test name="Positive scenarios">
        <classes>
            <class name="mobiletests.tests.positive.LoginTest"/>
            <class name="mobiletests.tests.positive.LogoutTest"/>
            <class name="mobiletests.tests.positive.NavigationTest"/>
            <class name="mobiletests.tests.positive.CartTest"/>
            <class name="mobiletests.tests.positive.CatalogSortTest"/>
            <class name="mobiletests.tests.positive.CheckoutCompletionTest"/>
            <class name="mobiletests.tests.positive.ResetAppStateTest"/>
        </classes>
    </test>
    <test name="Negative scenarios">
        <classes>
            <class name="mobiletests.tests.negative.LoginNegativeTest"/>
            <class name="mobiletests.tests.negative.CheckoutValidationTest"/>
            <class name="mobiletests.tests.negative.CartNegativeTest"/>
        </classes>
    </test>
</suite>
