<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Demo App - Mobile Test Suite" verbose="1">
    <test name="Core functionality">
        <classes>
            <class name="mobiletests.tests.LoginTest"/>
            <class name="mobiletests.tests.LogoutTest"/>
            <class name="mobiletests.tests.NavigationTest"/>
            <class name="mobiletests.tests.CartTest"/>
            <class name="mobiletests.tests.CheckoutValidationTest"/>
        </classes>
    </test>
</suite>
